body{background-color:#E6B7C1;}
#mainword{color:white;font-family: 'Montserrat', sans-serif;;font-size:45px; text-align: center;margin:auto;}
hr{color:white;background-color: White;height:5;border: none;}
.стишок{color:white;font-family: 'Montserrat', sans-serif;font-size:35px;text-align: center;background-color: #7CB2D1;}
.lil{text-align:center;}
.family{font-family: 'Amatic SC', cursive;text-align: center;font-size: 15px;color:black;margin-top:0;
}
#maname{
  font-family: 'Montserrat', sans-serif; font-size: 20px;color: white;
}
